ActivityMap_II.vcxproj
ActivityMap_II.vcxproj.filters
ActivityMap_II.vcxproj.user
Debug/ActivitMap_II_main.obj
Debug/ActivityMap_II.Build.CppClean.log
Debug/ActivityMap_II.exe.intermediate.manifest
Debug/ActivityMap_II.lastbuildstate
Debug/ActivityMap_II.log
Debug/cl.command.1.tlog
Debug/CL.read.1.tlog
Debug/CL.write.1.tlog
Debug/link.command.1.tlog
Debug/link.read.1.tlog
Debug/link.write.1.tlog
Debug/mt.command.1.tlog
Debug/mt.read.1.tlog
Debug/mt.write.1.tlog
Debug/vc100.idb
Debug/vc100.pdb
EmilioTrackingDataSetMoA.avi
blob.cpp
connected_components.cpp
connected_components.h
Debug/link.read.2.tlog
